# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Bazel working directories
bazel-*

# Bazel plugin project config for JetBrains IDEs
.ijwb
